@font-face {
    font-family: "Intro";
    src: url("fonts/IntroDemo-BlackCAPS.otf") format("truetype");
    font-style: normal;
    font-weight: bolder;
}

@font-face {
    font-family: "RobotoSlab";
    src: url("fonts/RobotoSlab-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.levelled {
    margin-bottom: 8px;
}

h1,
h2 {
    font-family: Intro;
}

body {
    font-family: RobotoSlab;
    font-size: 21px;
}

.down {
    padding-top: 10rem;
}

.spaced {
    margin-top: 2rem;
}

.news {
    background-color: #EC615B;
}

.cntr {
    padding-top: 6rem;
    padding-bottom: 2rem;
}

footer {
    padding-top: 6rem;
}

.nav-link {
    padding: 0 0.5rem;
}

.btn-bucket {
    background-color: #5222D0;
    border-radius: 1em;
}

.img-wrap {
    position: relative;
}

.img-wrap img {
    position: absolute;
}

.prpl {
    color: #5222D0;
}

.nobo {
    border: 0;
}